extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
      include ../static/style.css

block content
  section#introsection 
      div Welcome to Rock-On Dance Academy
      div.small Eat Sleep Dance Repeat 
  section#missionsection
      h2 our mission
      div.card
          h3 Dance like never before
          div.card-box
              div.cardimg
                  img(src="/static/1.png")
              div.cardcontent
                  p This is the best dance academy in universe.
      div.card
          h3 Express well during performing
          div.card-box
              div.cardimg
                  img(src="/static/2.png")
              div.cardcontent
                  p This is the best dance academy in universe.
      div.card
          h3 live Dancing
          div.card-box
              div.cardimg
                  img(src="/static/3.jpg")
              div.cardcontent
                  p This is the best dance academy in universe.
  section#sponsorsection
      h2 our sponsors
      div#sponsors
          img(src="/static/logo1.png", alt="Sponsor Image" class="spimage")
          img(src="/static/logo2.png", alt="Sponsor Image" class="spimage")
          img(src="/static/logo3.png", alt="Sponsor Image" class="spimage")
          img(src="/static/logo4.png", alt="Sponsor Image" class="spimage")
    

